.container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 3rem;
  text-align: center;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
