<div class="container">
  <h1>
    Hello, {{name}}
  </h1>
  <div class="game">
    <button (click)="startTimer()"  class="game_button" *ngIf="!isStart && !isEnd">
      Click to start
    </button>

    <button (click)="game()"  class="game_button game" *ngIf="isStart && !isEnd">
      Click me!!!
    </button>

    <p class="game_timer" *ngIf="!isEnd">
      Time left: {{timeLeft}}
      <br>
      Total clicks: {{counter}}
    </p>
    <p class="game_result" [style.display]="isEnd ? 'block' : 'none'">
      {{name}}, your result is {{counter}} for 10 seconds
    </p>

  </div>
</div>
